ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 95%;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 4px solid #000;
  border-radius: 20px;
  width: 250px;
}

li img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

li p {
  margin: 0;
}

li h2 {
  margin-left: 10px;
  width: 55%;
}

#category {
  align-self: center;
  background-color: rgb(196, 194, 194);
  border-radius: 15px;
  padding: 7px;
  margin-right: 10px;
}

#description {
  display: grid;
  grid-template-rows: 75% auto;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(0, 0, 0);
  width: 100%;
  height: 125px;
}

#price {
  display: flex;
  justify-content: space-around;
}

#description p {
  margin: 5px 10px 5px;
}

#main-info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-top: 2px solid rgb(0, 0, 0);
  width: 100%;
}

#main-info p,
#main-info h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  box-sizing: border-box;
  margin-right: 20px;
  padding: 13px;
  cursor: pointer;
  border-radius: 15px;
  background-color: black;
  color: white;
  transition: all 0.15s;
}

button:hover {
  background-color: whitesmoke;
  border: #000 solid 2px;
  color: black;
  scale: 1.05;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

li .buttons {
  box-sizing: border-box;
  padding: 10px;
  background-color: rgb(219, 219, 219);
  width: 100%;
  border-radius: 0 0 15px 15px;
}

#product-add input {
  min-width: 220px;
  border-radius: 10px;
  padding: 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

#product-add form {
  display: flex;
  flex-direction: column;
}

#product-add .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

#product-add button {
  margin-right: 0;
}
