ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 4px solid #000;
  border-radius: 20px;
  width: 100%;
}

li img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0;
  border-radius: 15px 0 0 15px;
}

li p {
  margin: 20px;
}

li h2 {
  margin-left: 20px;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main-info {
  height: 100%;
  display: grid;
  grid-template-rows: 34% 33% 33%;
}

button {
  box-sizing: border-box;
  margin-right: 20px;
  padding: 13px;
  cursor: pointer;
  border-radius: 15px;
  background-color: black;
  color: white;
  transition: all 0.15s;
}

button:hover {
  background-color: whitesmoke;
  border: #000 solid 2px;
  color: black;
  scale: 1.05;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

#product-add input {
  min-width: 220px;
  border-radius: 10px;
  padding: 10px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

#product-add form {
  display: flex;
  flex-direction: column;
}

#product-add .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

#product-add button {
  margin-right: 0;
}
